<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#" style="margin-left: 32px; color: white;">OpenPay Marvel</a>
    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="'/marvel'" routerLinkActive="active" class="nav-link">Marvel</a>
              </li>
            <li class="nav-item">
              <a [routerLink]="'/bitacora'" routerLinkActive="active" class="nav-link">Bitácora</a>
            </li>
        </ul>
    </div>
</nav>